<!DOCTYPE html>
<html>
<head>
	<title>Add Item</title>
</head>
<body>
	<h1>Add Item</h1>
	<form action="/items/add" method="post">
	  name:<br>
	  <input type="text" name="name">
	  <br>
	  brand:<br>
	  <input type="text" name="brand">
	  <br>
	  price:<br>
	  <input type="text" name="price">
	  <br>
	  stock:<br>
	  <input type="text" name="stock">
	  <br>
	  <br>
	  <input type="submit" value="Submit">
	</form> 
</body>
</html>