<div>
        <h1><a href="/">Cashier Online </a></h1>
    <% if (currentUser.username){ %>
        <% if(currentUser.role === 'admin'){ %>
            <a href="/items">Items Panel</a>
        <% } %>
            <a href="/transactions/add">Transaction Add</a>
        <a href="/logout">logout</a>
    <% }else{ %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } %>
</div>